table {
    background: white;
    border: 1px solid grey;
    border-collapse: collapse;
    color: #333;
    font-size: 12pt;
    margin: 0 auto;
}

table th,
table td {
    border: 1px solid lightgrey;
    padding: .5em;
}

table thead th {
    background: rgba(0,0,0,.1);
    color: #777;
}