.box {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 60px rgba(57,73,76,0.35);
    box-sizing: border-box;
    grid-area: box;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.box form div {
    position: relative;
}

.box form div label {
    color: #999;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: .5s;
}

.box input {
    border: none;
    border-bottom: 2px solid #999;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}

.box input {
    margin-bottom: 30px;
    padding: 10px 0;
}

.box input:focus ~ label,
.box input:valid {
    border-bottom: 2px solid #C9A2E6;
}

.box input:focus ~ label,
.box input:valid ~ label {
    color: #C9A2E6;
    font-size: 1em;
    font-weight: bold;
    left: 0;
    top: -12px;
}

.box input[type="submit"] {
    background: #C9A2E6;
    border-bottom: none;
    color: #FFF;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box-wrapper {
    height: 300px;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-areas: "box";
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}