.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "box";
}

.box-wrapper{
    height: 300px;
    position: relative;
}

.box{
    grid-area: box;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #FFF;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    /* box-shadow: 0 30px 20px rgba(0,0,0,.2); */
    box-shadow: 0 3px 60px rgba(57,73,76,0.35);

}

.box input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.box input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}

.box input[type="submit"]{
    font-size: 1.1em;
    border-bottom: none;
    cursor: pointer;
    background: #C9A2E6;
    color: #FFF;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box form div{
    position: relative;
}

.box form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
    transition: .5s;
}

.box input:focus ~ label,
.box input:valid ~ label {
    top: -12px;
    left: 0;
    color: #C9A2E6;
    font-size: 1em;
    font-weight: bold;
}

.box input:focus ~ label,
.box input:valid {
    border-bottom: 2px solid #C9A2E6;
}