{% extends 'base.html.twig' %}
    {% block title %}Test!{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/speech-bubbles.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/text-input-animation.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}"/>
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <h1>First Holiday Ltd</h1>
        <div class="chat-bot">
            <div class="bot-questions-loaded box-bot-question sb1">
                <p>Hello, what is your name?</p>
            </div>
            <div class="user-input-loaded box-user-answer sb2">
                <div class="wrapper">
                    <div class="box-wrapper">
                        <div class="box">
                            <form id="form" action="">
                                <div>
                                    <input type="text" name="user-name" id="name" required placeholder=" ">
                                    <label>Name: </label>
                                </div>
                                <input id="submit" type="submit" value="Submit" onclick="showHideDiv('second-bot-questions')">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="second-bot-questions" style="display: none">
                <div class="bot-questions box-bot-question sb1">
                    <p id="user-name"></p>
                </div>
                <div class="user-input box-user-answer sb2">
                    <div class="list-group holiday-category" id="holiday-category" onclick="showHideDiv('bot-third-question')">
                        <a class="list-group-item list-group-item-action" id="lazy">Lazy</a>
                        <a class="list-group-item list-group-item-action" id="active">Active</a>
                    </div>
                </div>
            </div>
            <div id="bot-third-question" style="display: none">
            <div class="bot-questions box-bot-question sb1">
                <p>Good choice, what about the location?</p>
            </div>
            <div class="user-input box-user-answer sb2">
                <div class="list-group holiday-location" id="holiday-location" onclick="showHideDiv('results')">
                    <a class="list-group-item list-group-item-action" id="mountain">Mountain</a>
                    <a class="list-group-item list-group-item-action" id="city">City</a>
                    <a class="list-group-item list-group-item-action" id="sea">Sea</a>
                </div>
            </div>
            </div>
        <div id="results" class="bot-questions box-bot-question sb1" style="display: none">
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="module">
            import {main} from "/js/main.js";
            main();
        </script>
        <script>
            function showHideDiv(ele) {
                var srcElement = document.getElementById(ele);
                if (srcElement != null) {
                    if (srcElement.style.display === "block") {
                        srcElement.style.display = 'none';
                    }
                    else {
                        srcElement.style.display = 'block';
                    }
                    return false;
                }
            }
        </script>
    {% endblock %}
