{% extends 'base.html.twig' %}
    {% block title %}Test!{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <h1>First Holiday Ltd</h1>

        <div class="chat-bot">
            <div class="bot-questions-loaded">
                <p>Hello, what is your name?</p>
            </div>
            <div class="user-input-loaded">
                <form>
                    <input type="text" name="user-name" id="user-name">
                    <input name="submit" type="submit">
                </form>
            </div>
            <div>
                <div class="bot-questions">
                    <p id="user-name"></p>
                </div>
                <div class="user-input">
                    <div class="list-group holiday-category" id="holiday-category">
                        <a class="list-group-item list-group-item-action" id="lazy">Lazy</a>
                        <a class="list-group-item list-group-item-action" id="active">Active</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="bot-questions">
                    <p>Good choice, what about the location?</p>
                </div>
                <div class="user-input">
                    <div class="list-group holiday-location" id="holiday-location">
                        <a class="list-group-item list-group-item-action" id="mountain">Mountain</a>
                        <a class="list-group-item list-group-item-action" id="city">City</a>
                        <a class="list-group-item list-group-item-action" id="sea">Sea</a>
                    </div>
                </div>
            </div>
        </div>
        <p id="answers"></p>

        <div id="txtHint">Destination info will be listed here...</div>

        <div id="results">
            <button id="results-btn" type="button">Get Results</button>
        </div>
        <div id="demoA"></div>
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="module">
            import {main} from "/js/main.js";
            main();
        </script>
    {% endblock %}
